[Unit]
Description=Turn off dashboard

[Service]
Type=oneshot
ExecStart=busctl --user set-property org.gnome.Mutter.DisplayConfig /org/gnome/Mutter/DisplayConfig org.gnome.Mutter.DisplayConfig PowerSaveMode i 3
